* {
   background-color: white;
   margin: 0;
   height: 5000x;
  
}
header {
   position: fixed;
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: #373737;
   height: 100px;
   width: 100%;
   float: center;
   margin: 0;
   padding: 0;

  
}
header a {
   font-size: 112.5%;
   font-family: Impact;
   color: #ffffff;
   background-color: #373737;
   padding: 6.428%;
   text-decoration: none;
   text-align: center;
   line-height: 100px;
   height: 100px;
}

header a:hover{
   color: #ffffff;
   background-color: #ccccccd7;
}

#Filler{
   width: 100%;
   height: 100px;
}

#dell{
   background-color: #ffffff;
   height: 800px;
   width: 100%;
   font-family: Impact;
   font-size: 30pt;
}

#Delllatitude{
   font-size: 35pt;
   text-align: center;
   font-family: Impact;
   margin-top: 50px;
   margin-bottom: 20px;
   color: #373737;
   font-weight: bold;
}

#Delllatitude:hover{
   color: #000000;
}

#Iphone15{
   background-color:#000000;
   height: 800px;
   width: 100%;
   float: left;
}

#Iphones15{
   background-color: #000000;
   font-size: 35pt;
   text-align: center;
   font-family: Impact;
   margin-top: 50px;
   margin-bottom: 20px;
   color: #ffffff;
   font-weight: bold;
}

#Iphones15:hover{
   color: #cccccc;
}

#ipad{
   background-color: #ffffff;
   height: 800px;
   width: 100%;
   float: left;
}


#gamingPC{
   background-color: #373737;
   height: 800px;
   width: 100%;
   float: left;
}

#hue{
   background-color: #ffffff;
   height: 800px;
   width: 100%;
   float: left;
}

footer{
   background-color: #cccccc;
   height: 400px;
   width: 100%;
}

img {
   display: block;
   z-index: -1;
   display: block;
   margin-left: auto;
   margin-right: auto;
}

