* {
   background-color: white;
   margin: 0;
   height: 10000px;
  
}
header {
   position: fixed;
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: #373737;
   height: 100px;
   width: 100%;
   float: center;
  
}
header a {
   font-size: 112.5%;
   font-family: Impact;
   color: #cccccc;
   background-color: #373737;
   padding: 6.428%;
   text-decoration: none;
   text-align: center;
   line-height: 100px;
   height: 100px;
}

header a:hover{
   color: #ffffff;
   background-color: #ccccccd7;
}


#dell{
   background-color: #ffffff;
   height: 600px;
   width: 100%;
   font-family: comfortaa;
   font-size: 30pt;
   color: #373737;
   }


#Iphone15{
   background-color:#373737;
   height: 600px;
   width: 100%;
}


#ipad{
   background-color: #ffffff;
   height: 600px;
   width: 100%;
}


#gamingPC{
   background-color: #373737;
   height: 600px;
   width: 100%;
}

#hue{
   background-color: #ffffff;
   height: 600px;
   width: 100%;
}

footer{
   background-color: #cccccc ;
   height: 400px;
   width: 100%;
}