* {
   background-color: #cccccc;
   margin: 0;
}

header {
   position: fixed;
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: #373737;
   height: 100px;
   width: 100%;
   float: center;
   margin: 0;
   padding: 0;

  
}
header a {
   font-size: 112.5%;
   font-family: Impact;
   color: #ffffff;
   background-color: #373737;
   padding: 6.385%;
   text-decoration: none;
   text-align: center;
   line-height: 100px;
   height: 100px;
}

header a:hover{
   color: #ffffff;
   background-color: #ccccccd7;
}

#Filler{
   background-color: #ffffff;
   width: 100%;
   height: 100px;
   float: left;
}

#dell{
   background-color: #ffffff;
   height: 800px;
   width: 100%;
   float: left;
}

#Delllatitude{
   background-color: #ffffff;
   font-size: 35pt;
   text-align: center;
   font-family: Impact;
   margin-top: 50px;
   color: #373737;
   font-weight: bold;
}

#Iphone15{
   background-color:#0c0c0c;
   height: 800px;
   width: 100%;
   float: left;
}

#Iphones15{
   background-color: #0c0c0c;
   font-size: 35pt;
   text-align: center;
   font-family: Impact;
   margin-top: 50px;
   color: #ffffff;
   font-weight: bold;
}

#ipad{
   background-color: #ffffff;
   height: 800px;
   width: 100%;
   float: left;
}

#ipadair{
   background-color: #ffffff;
   font-size: 35pt;
   text-align: center;
   font-family: Impact;
   margin-top: 50px;
   color: #373737;
   font-weight: bold;
}

#gamingPC{
   background-color: #000000;
   height: 800px;
   width: 100%;
   float: left;
}

#Gamingpc{
   background-color: #000000;
   font-size: 35pt;
   text-align: center;
   font-family: Impact;
   margin-top: 50px;
   color: #ffffff;
   font-weight: bold;
}

#hue{
   background-color: #ffffff;
   height: 850px;
   width: 100%;
   float: left;
}

#Philipshue{
   background-color: #ffffff;
   font-size: 35pt;
   text-align: center;
   font-family: Impact;
   margin-top: 50px;
   color: #373737;
   font-weight: bold;
   text-decoration: none;
}

footer{
   background-color: #cccccc;
   height: 300px;
   width: 100%;
   float: left;
}

.footer{
   background-color: #cccccc;
   color: #373737;
   font-size: 18pt;
   text-align: center;
   font-family: Impact;
   font-style: italic;
   margin: 50px;
}


img {
   display: block;
   z-index: -1;
   display: block;
   margin-left: auto;
   margin-right: auto;
}

section{
   background-color: #ffffff;
   width: 100%;
   height: 3310px;
}

#a{
   background-color: #cccccc;
   border-radius: 20px;
   float: left;
   width: 90%;
   height: 600px;
   margin-top: 3%;
   margin-left: 5%;
   margin-right: 5%;
   display: block;
}

#b{
   background-color: #cccccc;
   border-radius: 20px;
   float: left;
   width: 90%;
   height: 600px;
   margin-top: 3%;
   margin-left: 5%;
   margin-right: 5%;
   display: block;
}

#c{
   background-color: #cccccc;
   float: left;
   width: 43%;
   height: 500px;
   margin-top: 3%;
   margin-left: 5%;
   margin-right: 2%;
   border-radius: 20px;
}

#d{
   background-color: #cccccc;
   float: left;
   width: 43%;
   height: 500px;
   margin-top: 3%;
   margin-left: 2%;
   margin-right: 5%;
   border-radius: 20px;
}

#e{
   background-color: #cccccc;
   float: left;
   width: 43%;
   height: 500px;
   margin-top: 3%;
   margin-left: 5%;
   margin-right: 2%;
   border-radius: 20px;
}

#f{
   background-color: #cccccc;
   float: left;
   width: 43%;
   height: 500px;
   margin-top: 3%;
   margin-left: 2%;
   margin-right: 5%;
   border-radius: 20px;
}

#g{
   background-color: #cccccc;
   border-radius: 20px;
   float: left;
   width: 90%;
   height: 700px;
   margin-top: 3%;
   margin-left: 5%;
   margin-right: 5%;
   display: block;
   margin-bottom: 3%;
}